@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-size: 15px;
  margin-top: 60px;
}

.div_sep{
    background: url(Images/course.jpg) no-repeat;
    margin-top: 132px;
    padding: 10px 0px;
}



/***************************************  DEBUT HEADER *****************************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8E0D01;
    z-index: 100;
  }

  .header >img{
    width :100px;
    height: auto;
  }

  .menu {
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.13px;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: all 0.5s ease;
  }
  
  .menu:hover {
    color: #008BCE;
  }
/***************************************  FIN HEADER *****************************************/

#registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column; /* Affiche les éléments en colonne */
    border: 1px solid #8E0D01; /* Ajoute une bordure */
    border-radius: 10px; /* Arrondit les bords du formulaire */
}

.div_form {
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
}

.label {
    margin-bottom: 5px; /* Ajoute un espace entre l'étiquette et le champ */
}

input[type="text"],
input[type="password"],
select {
    border: 1px solid #ccc;
    border-radius: 5px; /* Arrondit les bords des champs de texte et de sélection */
    padding: 5px;
    margin-bottom: 10px; /* Ajoute un espace entre les champs */
}

button {
    border: none;
    background-color: #A36656;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

#valid-checkbox{
    color: #20BF55;
}

.valid-label{
  color: #20BF55;
}

#popcorn_check, #popcorn_check2, #popcorn_check3, #popcorn_check4, #popcorn_check5, #popcorn_check6, #popcorn_check7, #popcorn_check8, #popcorn_check9, #popcorn_check10{
  color: red;
}

#add-course{
  margin: 10px 29px;
}

#delete-course{
  margin-bottom: 50px;
  margin-left: 29px;
  margin-right: 29px;
}

#bouton_submit{
  margin: 0px auto;
  color: #008BCE;
  background-color: white;
}

#bouton_submit:hover{
  color: #20BF55;
  background-color: black;
}

.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
  }

/***************************************  FOOTER *****************************************/
footer {
    background-color: #8E0D01;
    color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
    font-size: 15px;
  }
  .footer-colonne {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-colonne h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #008BCE;
  }
  
  .footer-colonne ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-colonne ul li {
    font-size: 15px;
    padding: 1.5%;
  }
  
  .footer-colonne ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  
  .footer-colonne ul li a:hover {
    color: #008BCE;
  }
  .logo_footer{
    height: 130px;
    width: 130px;
  }
